.c--pack {
    width: 180px;
    height: 315px;
    border: 2px solid #f44034;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 5px;
  }