# Logs
*.log

# testing
/coverage

# Optional npm cache directory
.npm
.cache

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# dependencies
/.pnp
.pnp.js

# node_modules
node_modules/

# build
build/

# DS_Store
.DS_Store

# WebStorm
.idea/

# VS Code
.vscode
