.c--question {
  display: flex;
  justify-content: space-between;
  width: 130px;
  height: 6px;
  margin: 10px;
}

.c--checkbox {
  position: relative;
  width: 22px;
  height: 14px;
  box-sizing: content-box;
  margin: 0 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid black;
  letter-spacing: 2px;
  border-radius: 50px;
  overflow:hidden;
  z-index: 1;
  background: white;
  transition:         0.9s ease-in;
  -o-transition:      0.9s ease-in;
  -moz-transition:    0.9s ease-in;
  -webkit-transition: 0.9s ease-in;
}

.c--checkbox:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.9s ease-in;
}

.is_checked.c--checkbox{
  color: whitesmoke;
}

.is_checked.c--checkbox:before {
  top: 0;
}

.question_label {
  user-select: none;
  text-size-adjust: auto;
  font-size: 1.2rem;
}