.mini-form__list {
  background-color: #707aed;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  padding: 20px;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
