$height: 60px;
$trans-time: .4s;

.wrap{
  position: relative;
  margin-top: 5%;
  margin-right: 30px;
  width: 191px;
  min-width: 191px;
  text-align: center;
  button{
    display: block;
    height: $height;
    padding: 0;
    width: 191px;
    background: none;
    margin: auto;
    border: 2px solid #1ECD97;
    font-size: 18px;
    font-family: "Lato";
    color: #1ECD97;
    cursor: pointer;
    outline: none;
    text-align: center;
    box-sizing: border-box;
    border-radius: $height / 2;

    transition: color $trans-time, border $trans-time, width $trans-time, background $trans-time, font-size .05s;
    &:hover{
      background: #1ECD97;
      color: white;
    }
  }
  img{
    position: absolute;
    top: 11px;
    left: 191px/2 - 24px;
    transform: scale(.6);
  }
  svg{
    transform: rotate(270deg);
    /* @include rotate(270deg); */
    position: absolute;
    top: -2px;
    left: 62px;
    display: none;
    .circle_2{
      stroke-dasharray: 0 200;
    }
    .fill_circle{
        animation: fill-stroke 2s .4s linear forwards;
    }
  }
  .circle{
    width: $height;
    border: 3px solid #c3c3c3;
    /* border: none; */
    &:hover{
      background: none;
    }
  }
  .filled{
    background: #1ECD97;
    color: white;
    line-height: $height;
    font-size: 160%;
  }
}
footer{
  p{
    color: #738087;
    margin-top: 100px;
    font-size: 18px;
    line-height: 28px;
  }
}
@keyframes fill-stroke {
  0%{
    stroke-dasharray: 0 200;
  }
  20%{
    stroke-dasharray: 20 200;
  }
  40%{
    stroke-dasharray: 30 200;
  }
  50%{
    stroke-dasharray: 90 200;
  }
  70%{
    stroke-dasharray: 120 200;
  }
  90%{
    stroke-dasharray: 140 200;
  }
  100%{
    stroke-dasharray: 182 200;
  }
}

a, p{
  line-height: 1.6em;
}
a{
  color: #738087;
}
